body {
    width: 100%;
    background: url(mongback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.container {
    margin-top: 50px;
}

#baner {
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color: #f91616;
    margin-bottom: 50px;
}

#message {
    background-color: white;
    min-height: 535px;
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

#message>span {
    margin-top: 40px;
    color: #6a764e;
}

#news {
    height: 50px;
    background-color: white;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

#news>span {
    margin-top: 15px;
    color: brown;
}

#rank {
    flex: 2;
    background-color: rgba(29, 30, 31, 0.5);
    padding: 10px;
    border: 2px solid black;
    overflow-y: scroll;
}

#rank>h2 {
    text-align: center;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 10px;
    color: #D60000;
}

.list-member {
    margin: 0;
    padding: 0;
}

.list-member>.member {
    height: 50px;
    list-style: none;
    padding: 10px 0px;
    border-top: 2px solid #D60000;
    margin: 10px 0;
}

.member-rank {
    font-size: 30px;
    width: 50px;
    text-align: center;
    color: white;
    line-height: 45px;
    display: block;
    float: left;
}

.avt-member {
    width: 45px;
    height: 45px;
    background-color: #D60000;
    float: left;
    margin-right: 10px;
}

.infor-lv {
    display: block;
    float: left;
}

.infor-lv>* {
    margin: 0;
}

.infor-lv>h2 {
    color: #fbff00;
}

.infor-lv>p {
    padding: 2px 0px;
    color: #D60000;
    font-weight: bold;
    width: 100px;
    border: 1px solid #fbff00;
    border-radius: 5px;
    text-align: center;
    background-color: black;
}



::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #fc0a1e;
    border-radius: 5px;
}